@charset "utf-8";

$color: (
    primary: #0047BB,
    primary-pressed: #003181,
    main: #8871F1,
    secondary: #2ED13B,
    negative: #F54A54,
    cancel: #B6B5C9,
    inquiry: #FFC30D,
    counsel: #F49500,
    offer: #0BC78D,
    estimate: #00A0AA,
    contract: #1096FF,
    complete: #0048FF,
    partner: #DE59EE,
    hold: #FF3671,

    main-line: #674ED7,
    main-disabled: rgba(136, 113, 241, .5),
    secondary-line: #0BB418,
    secondary-disabled: rgba(46, 209, 59, .5),
    negative-line: #CF1C27,
    negative-disabled: rgba(245, 74, 84, .5),
    cancel-line: #9695AB,
    cancel-disabled: rgba(182, 181, 201, 0.50),
    inquiry-line: #E1A200,
    counsel-line: #D98200,
    offer-line: #00AB76,
    estimate-line: #007880,
    contract-line: #0073CD,
    complete-line: #0030AB,
    partner-line: #AE3CBC,
    hold-line: #D00C46,

    bg-default: #FFFFFF,
    bg-back: #F7F7FA,
    bg-table-head: #E4E4F2,
    bg-dividline: #C5C4DB,

    text-default: #171E23, // text01
    text-guide: #9B9AB5, // text02
    text-sub: #7C7B8C, // text03
    text-btn: #FFFFFF, // text04
);

@function hexToRGB($hex) {
    @return red($hex),green($hex),blue($hex);
}

@mixin generate_colors($colors) {

    // Colors
    @each $color, $value in $colors {
        @if str-slice(#{$value}, 1, 1)=="#" {
            #{'--' + $color}: #{$value};
        }

        @else if str-slice(#{$value}, 1, 4)=="rgba" {
            #{'--' + $color}: #{$value};
        }

        @else {
            #{'--' + $color}: var(#{'--' + $value});
        }
    }

    // RGB Colors
    @each $color, $value in $colors {
        @if str-slice(#{$value}, 1, 1)=="#" {
            #{'--RGB-' + $color}: #{hexToRGB($value)};
        }

        @else if str-slice(#{$value}, 1, 4)=="rgba" {
            #{'--RGB-' + $color}: #{$value};
        }

        @else {
            #{'--RGB-' + $color}: var(#{'--RGB-' + $value});
        }
    }
}

:root {
    @include generate_colors($color);
}
