@charset "utf-8";

.check-box {
    display: inline-block;

    label {
        display: flex;
        align-items: center;
        font-size: rem(14px);
        font-weight: 500;
        color: var(--text-color1);
        line-height: 1;
        cursor: pointer;
        transition: all .25s;

        input[type=checkbox] {
            display: none;
        }

        i {
            display: flex;
            align-items: center;
            justify-content: center;
            width: rem(12px);
            height: rem(12px);
            margin-right: rem(10px);
            border: 1px solid var(--main-color2);
            background-color: transparent;
            border-radius: rem(3px);
            transition: all .25s;

            &:after {
                @extend %fa-icon;
                @extend .fa-solid;
                content: unquote("\"#{ $fa-var-check }\"");
                font-size: rem(10px);
                color: transparent;
                transition: color .25s;
            }
        }

        &:hover i {
            background-color: rgba(var(--RGB-main-color2), .2);
        }

        input[type=checkbox]:checked+i {
            background-color: var(--main-color2);

            &:after {
                color: var(--text-color2);
            }
        }
    }

    &.disabled>label {
        color: rgba(var(--RGB-main-color2), .6);
        cursor: not-allowed;

        i {
            border-color: rgba(var(--RGB-main-color2), .2);
            background-color: rgba(var(--RGB-main-color2), .2);

            &:after {
                color: transparent;
            }
        }
    }

    &.invalid>label {
        color: var(--delete-color);

        i {
            border-color: var(--delete-color);
        }

        input[type=checkbox]:checked+i {
            background-color: var(--delete-color);

            &:after {
                color: var(--text-color2);
            }
        }
    }
}
