@charset "utf-8";

$height : rem(34px);

.picker-wrap {
    &.invalid {
        .dp__input {
            color: var(--negative) !important;
            border-color: var(--negative) !important;

            &::placeholder {
                color: var(--negative) !important;
            }
        }

        .dp__input_icon,
        .dp__clear_icon {
            color: var(--negative) !important;
        }
    }

    &.pull {
        width: 100%;
        
        .picker-box {
            min-width: 100%;
            max-width: 100%;
        }
    }

    &.xl {
        .picker-box {
            min-width: rem(290px);
            max-width: rem(290px);
        }
    }

    &.xxl {
        .picker-box {
            min-width: rem(340px);
            max-width: rem(340px);
        }
    }

    &.top {
        display: flex;
        flex-direction: column;
    }

    &.left {
        display: grid;
        grid-template-columns: min-content auto;

        .label {
            grid-column: 1;
            grid-row: 1;
            display: flex;
            align-items: center;
            height: $height;
            margin-bottom: 0;
            margin-right: rem(12px);
            white-space: nowrap;
        }

        .picker-box {
            grid-column: 2;
            grid-row: 1;
            width: auto;
        }

        .info-text,
        .valid-text {
            grid-column: 2;
            grid-row: 2;
        }
    }

    .label {
        margin-bottom: rem(6px);
        font-size: rem(13px);
        font-weight: 500;
        color: var(--text-default);
        line-height: 1;

        i {
            color: var(--negative);
        }
    }

    .info-text {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: rem(12px);
        color: var(--text-guide);
        line-height: 1;
        margin-top: rem(4px);
    }

    .valid-text {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: rem(12px);
        font-weight: 700;
        color: var(--negative);
        line-height: 1;
        margin-top: rem(4px);
    }
}

.picker-box {
    width: 100%;
    min-width: rem(200px);
    max-width: rem(200px);
    border-radius: rem(3px);
    position: relative;
    transition: all .25s;

    .dp__input {
        font-family: "Roboto", "Noto Sans KR", Sans-serif;
        font-size: rem(14px);
        font-weight: 700;
        color: var(--text-default);
        width: 100%;
        height: $height;
        padding-right: rem(34px);
        padding-left: rem(34px);
        border-radius: rem(3px);
        border: 1px solid var(--main);
        outline: none;
        transition: all .25s ease;

        &::placeholder {
            font-weight: 400;
            opacity: 1;
            color: var(--text-guide);
        }

        &:disabled {
            color: var(--text-guide);
            border: 1px solid var(--main-disabled) !important;
            cursor: not-allowed;

            &::placeholder {
                color: var(--text-guide);
            }

            & + .dp__input_icon {
                color: var(--text-guide);
                cursor: not-allowed;
            }
        }
    }

    .dp__input_icon {
        left: 0;
        right: auto;
        padding: 0 rem(10px);
        font-size: rem(16px);
        color: var(--main);
        transition: all .25s ease;
    }

    .dp__clear_icon {
        right: 0;
        padding: 0 rem(14px);
        font-size: rem(19.2px);
        color: var(--main);
    }
}

.custom-picker {
    font-family: "Roboto", "Noto Sans KR", Sans-serif !important;
    font-size: rem(14px) !important;
    border-radius: rem(3px);
    border: 1px solid var(--main);
    box-shadow: rem(1.3px) rem(1.5px) rem(4px) 0 rgba(0, 0, 0, 0.3);
    background-color:  var(--bg-default);
    animation-duration: .4s;
    animation-fill-mode: both;
    animation-name: fadeInUp;

    div[class*=dp__arrow_] {
        display: none;
    }

    .dp--menu--inner-stretched {
        padding: 0;
    }

    .dp__month_year_row {
        .dp__month_year_select {
            font-weight: 700;
            color: var(--text-default);

            &:hover {
                color: var(--main);
                background: transparent;
            }

            &:active {
                color: var(--main-line);
                background: transparent;
            }
        }
    }

    .dp__inner_nav {
        color: var(--main);

        &:hover,
        &:focus {
            background: transparent;
        }

        &:active {
            color: var(--main-line);
        }
    }

    .dp__overlay {
        font-family: "Roboto", "Noto Sans KR", Sans-serif !important;
        font-size: rem(14px) !important;
        color: var(--text-default);
        background-color:  var(--bg-default) !important;

        .dp__overlay_cell_active,
        .dp__overlay_cell:hover {
            font-weight: 700;
            color: var(--text-btn);
            background-color: var(--main);
        }
    }

    .dp__button_bottom {
        color: var(--text-btn);
        background: var(--main) !important;

        &:hover {
            color: var(--text-btn);
            background: var(--main) !important;
        }
    }

    .dp__inc_dec_button {
        color : var(--text-default);

        &:hover {
            color: var(--text-default);
            background: transparent !important;
        }
    }

    .dp__time_input {
        color: var(--text-default);

        .dp__time_display {
            color: var(--text-default);

            &:hover {
                color: var(--text-default);
                background: var(--bg-default) !important;
            }
        }
    }

    .time-picker {
        display: flex;
        justify-content: space-between;
        padding: 0 rem(7px) rem(7px);

        .select-wrap {
            width: calc(50% - rem(5px));

            .select-box {
                min-width: 100%;
                max-width: 100%;
            }
        }
    }
}

.custom-calendar {
    font-family: "Roboto", "Noto Sans KR", Sans-serif !important;

    .dp__calendar_header {
        color: var(--text-default);
        font-weight: 700;
    }

    .dp__calendar_header_separator {
        background-color: var(--bg-dividline);
    }

    .dp__calendar_item {
        color: var(--text-default);

        .dp__cell_inner {
            border-radius: rem(3px);
        }

        .dp__date_hover_end:hover,
        .dp__date_hover_start:hover,
        .dp__date_hover:hover,
        .dp__range_end,
        .dp__range_start,
        .dp__active_date {
            font-weight: 700;
            color: var(--text-btn);
            background-color: var(--main);
        }

        .dp__range_start {
            border-radius: rem(3px) 0 0 rem(3px);
        }

        .dp__range_end {
            border-radius: 0 rem(3px) rem(3px) 0;
        }

        .dp__range_between {
            color: var(--text-default);
            background-color: var(--main-disabled);
            border-radius: 0;
            border: none;
        }

        .dp__cell_offset {
            color: var(--text-guide);
        }

        .dp__today {
            border: 1px solid var(--main);
        }
    }
}
