@charset "UTF-8";
@use "sass:math";

$gapSize: rem(20px);

.grid-container {
    display: grid;
    grid-column-gap: $gapSize;

    $columns: 12;

    @for $i from 1 through $columns {
        $gap : calc(($gapSize * $i) - $gapSize);

        &.cell-#{$i} {
            grid-template-columns: repeat(#{$i}, minmax(calc((100% - $gap) / $i), auto));
        }
    }

    &.row {
        grid-row-gap: rem(24px);
    }
}
