@charset "utf-8";

$height : rem(34px);

.input-wrap {

    &.invalid {
        input {
            color: var(--negative);
            border-color: var(--negative);

            &::placeholder {
                color: var(--negative) !important;
            }
        }


        .del {
            color: var(--negative);

            &:active {
                color: var(--negative-line);
            }
        }
    }

    &.disabled {
        input {
            color: var(--text-guide);
            border: 1px solid var(--main-disabled) !important;
            cursor: not-allowed;

            &::placeholder {
                color: var(--text-guide);
            }
        }

        >.del {
            cursor: default;
        }
    }

    &.pull {
        width: 100%;
        .input-box {
            min-width: 100%;
            max-width: 100%;
        }
    }

    &.xs {
        .input-box {
            min-width: rem(100px);
            max-width: rem(100px);
        }
    }

    &.sm {
        .input-box {
            min-width: rem(120px);
            max-width: rem(120px);
        }
    }

    &.lg {
        .input-box {
            min-width: rem(180px);
            max-width: rem(180px);
        }
    }

    &.xl {
        .input-box {
            min-width: rem(290px);
            max-width: rem(290px);
        }
    }

    &.top {
        display: flex;
        flex-direction: column;
    }

    &.left {
        display: grid;
        grid-template-columns: min-content auto;

        .label {
            grid-column: 1;
            grid-row: 1;
            display: flex;
            align-items: center;
            height: $height;
            margin-bottom: 0;
            margin-right: rem(12px);
            white-space: nowrap;
        }

        .input-box {
            grid-column: 2;
            grid-row: 1;
            width: auto;
        }

        .info-text,
        .valid-text {
            grid-column: 2;
            grid-row: 2;
        }
    }

    .label {
        margin-bottom: rem(6px);
        font-size: rem(13px);
        font-weight: 500;
        color: var(--text-default);
        line-height: 1;

        i {
            color: var(--negative);
        }
    }

    .info-text {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: rem(12px);
        color: var(--text-guide);
        line-height: 1;
        margin-top: rem(4px);
    }

    .valid-text {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: rem(12px);
        font-weight: 400;
        color: var(--negative);
        line-height: 1;
        margin-top: rem(4px);
    }
}

.input-box {
    width: 100%;
    min-width: rem(150px);
    max-width: rem(150px);
    border-radius: rem(3px);
    position: relative;
    transition: all .25s;

    input {
        font-size: rem(14px);
        font-weight: 700;
        color: var(--text-default);
        width: 100%;
        height: $height;
        padding-right: rem(34px);
        padding-left: rem(10px);
        border-radius: rem(3px);
        border: 1px solid var(--main);
        outline: none;
        transition: color .25s ease, width .25s ease, border-color .25s ease;

        &::placeholder {
            font-weight: 400;
            color: var(--text-guide);
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            transition: background-color 9999s ease-in-out 0s;
            -webkit-box-shadow: 0 0 0px 1000px var(--bg-default) inset !important;
            -webkit-text-fill-color: var(--text-default);
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &::-ms-reveal,
        &::-ms-clear {
            display: none;
        }

        &:read-only:not(.file-input) {
            border-color: var(--main-disabled);
            cursor: not-allowed;
        }
    }

    .del {
        display: flex;
        align-items: center;
        @include position(absolute, $top: 0, $right: 0, $bottom: 0);
        padding-left: rem(14px);
        padding-right: rem(14px);
        color: var(--main);
        outline: none;
        cursor: pointer;
        transition: all .25s ease;

        &:after {
            @extend %fa-icon;
            @extend .fa-solid;
            content: unquote("\"#{ $fa-var-xmark }\"");
            font-size: rem(19.2px);
        }

        &:active {
            color: var(--main-line);
        }
    }

    .sch {
        display: flex;
        align-items: center;
        @include position(absolute, $top: 0, $right: 0, $bottom: 0);
        padding-left: rem(14px);
        padding-right: rem(14px);
        color: var(--main);
        outline: none;
        cursor: pointer;
        transition: all .25s ease;

        &:after {
            @extend %fa-icon;
            @extend .fa-solid;
            content: unquote("\"#{ $fa-var-magnifying-glass }\"");
            font-size: rem(14px);
        }

        &:active {
            color: var(--main-line);
        }
    }

    .unit {
        display: flex;
        align-items: center;
        @include position(absolute, $top: 0, $right: 0, $bottom: 0);
        padding-left: rem(5px);
        padding-right: rem(10px);
        font-size: rem(14px);
        font-weight: 500;
        color: var(--text-guide);
        outline: none;
        transition: all .25s ease;
    }

    &.unit {
        input {
            padding-right: rem(28px);
            padding-left: rem(10px);
        }

        &.al-left input {
            padding-right: rem(10px);
            padding-left: rem(28px);
        }
    }

    &.al-left {
        input {
            padding-right: rem(10px);
            padding-left: rem(38px);
        }

        .sch {
            left: 0;
            right: auto;
            padding-left: rem(14px);
            padding-right: rem(10px);
            color: var(--main);
            cursor: text;
        }

        .unit {
            left: 0;
            right: auto;
            padding-left: rem(10px);
            padding-right: rem(5px);
        }
    }
}

// .tb-container .input-box input {
//     height: rem(32px);
// }
