@charset "utf-8";

.modal {
    transition: all 0.25s;

    &.overlay {
        display: flex;
        align-items: center;
        justify-content: center;
        @include position(fixed, $top: 0, $left: 0);
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .7);
        z-index: map-get($z-index, modal);
    }

    &-container {
        width: auto;
        min-width: rem(400px);
        height: auto;
        padding: rem(30px);
        border-radius: rem(6px);
        background-color: var(--bg-default);
        box-shadow: 0 0 rem(15px) 0 rgba(0, 0, 0, .8);

        .text {
            font-size: rem(14px);
            line-height: 1.43;
            text-align: center;
            color: var(--text-default);
            word-break: keep-all;

            .required {
                color: var(--negative);
            }
        }

        .message-text {
            font-size: rem(14px);
            font-weight: 500;
            line-height: rem(18px);
            text-align: center;
            color: var(--text-default);
            word-break: keep-all;
        }
    }

    &-top {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: rem(30px);
    }

    &-title {
        font-size: rem(16px);
        font-weight: 700;
        color: var(--text-default);
        line-height: 1;
    }

    &-contents {
        margin: 0 0 rem(30px);
    }

    &-foot {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// 오버레이 트랜지션
.modal-enter-active,
.modal-leave-active {
    transition: opacity .3s;

    // 오버레이에 포함되어 있는 모달 윈도의 트랜지션
    .modal-container {
        transition: opacity .3s, transform .3s;
    }
}

// 딜레이가 적용된 모달 윈도가 제거된 후에 오버레이가 사라짐
.modal-leave-active {
    transition: opacity .3s ease .2s;
}

.modal-enter-from,
.modal-leave-to {
    opacity: 0;

    .modal-container {
        opacity: 0;
        transform: scale(1.1);
    }
}
