@charset "UTF-8";

.paging-container {
    display: flex;
    width: 100%;
    justify-content: center;

    .paging-box {
        display: flex;
        width: auto;
        transition: all .25s;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: rem(14px);
            font-weight: 400;
            color: var(--text-default);
            width: rem(30px);
            height: rem(30px);
            border-bottom: 2px solid transparent;
            background-color: transparent;
            cursor: pointer;
            transition: background-color .25s ease;

            &:not(:last-child) {
                margin-right: rem(1px);
            }

            &.prev,
            &.next,
            &.first,
            &.last {
                width: rem(30px);
                font-size: rem(14px);
                border: none;

                &:after {
                    @extend %fa-icon;
                    @extend .fa-solid;
                    color: var(--main);
                    transition: color .25s ease;
                }

                &:hover {
                    background-color: var(--main-disabled);
                }

                &:active {
                    background-color: var(--main);

                    &:after {
                        color: var(--text-btn);
                    }
                }
            }

            &.prev {
                margin-right: rem(16px);
                &:after {
                    content: unquote("\"#{ $fa-var-chevron-left }\"");
                }
            }

            &.next {
                margin-left: rem(15px);
                &:after {
                    content: unquote("\"#{ $fa-var-chevron-right }\"");
                }
            }

            &.first:after {
                content: unquote("\"#{ $fa-var-chevrons-left }\"");
            }

            &.last:after {
                content: unquote("\"#{ $fa-var-chevrons-right }\"");
            }

            &:hover {
                border-bottom-color: var(--main);
            }

            &:active {
                border-bottom-color: var(--main);
                background-color: var(--main-disabled);
            }

            &.on {
                font-weight: 700;
                color: var(--main);
                border-bottom-color: var(--main);
            }
        }
    }
}
