@charset "utf-8";

.radio-box {
    display: inline-block;

    label {
        display: flex;
        align-items: center;
        font-size: rem(14px);
        font-weight: 500;
        color: var(--text-default);
        line-height: 1;
        cursor: pointer;
        transition: all .25s;

        input[type=radio] {
            display: none;
        }

        i {
            display: flex;
            align-items: center;
            justify-content: center;
            width: rem(14px);
            height: rem(14px);
            margin-right: rem(8px);
            border: 1px solid var(--main);
            background-color: transparent;
            border-radius: 50%;
            transition: all .25s;

            &:after {
                content: '';
                display: block;
                width: rem(8px);
                height: rem(8px);
                border-radius: 50%;
                background-color: transparent;
                transition: background-color .25s;
            }
        }

        input[type=radio]:checked+i:after {
            background-color: var(--main);
        }
    }

    &.disabled>label {
        color: var(--text-guide);
        cursor: not-allowed;

        i {
            border-color: var(--cancel-disabled);
            background-color: var(--cancel-disabled);

            &:after {
                background-color: transparent;
            }
        }
    }

    &.invalid>label {
        color: var(--negative);

        i {
            border-color: var(--negative);
        }

        input[type=radio]:checked+i:after {
            background-color: var(--negative);
        }
    }
}
