@charset "utf-8";

$height : rem(34px);

.select-wrap {
    &.invalid {
        input {
            color: var(--negative);
            border-color: var(--negative);

            &::placeholder {
                color: var(--negative) !important;
            }
        }

        .icon {
            color: var(--negative);

            &:active {
                color: var(--negative-line);
            }
        }
    }

    &.disabled {
        input {
            color: var(--text-guide);
            border: 1px solid var(--main-disabled) !important;

            &::placeholder {
                color: var(--text-guide);
            }
        }

        .icon {
            color: var(--main-disabled);
            cursor: not-allowed;
        }
    }

    &.pull {
        .select-box {
            min-width: 100%;
            max-width: 100%;
        }
    }

    &.xs {
        .select-box {
            min-width: rem(100px);
            max-width: rem(100px);
        }
    }

    &.sm {
        .select-box {
            min-width: rem(120px);
            max-width: rem(120px);
        }
    }

    &.lg {
        .select-box {
            min-width: rem(180px);
            max-width: rem(180px);
        }
    }

    &.xl {
        .select-box {
            min-width: rem(290px);
            max-width: rem(290px);
        }
    }

    &.top {
        display: flex;
        flex-direction: column;
    }

    &.left {
        display: grid;
        grid-template-columns: min-content auto;

        .label {
            grid-column: 1;
            grid-row: 1;
            display: flex;
            align-items: center;
            height: $height;
            margin-bottom: 0;
            margin-right: rem(12px);
            white-space: nowrap;
        }

        .select-box {
            grid-column: 2;
            grid-row: 1;
            width: auto;
        }

        .info-text,
        .valid-text {
            grid-column: 2;
            grid-row: 2;
        }
    }

    .label {
        margin-bottom: rem(6px);
        font-size: rem(13px);
        font-weight: 500;
        color: var(--text-default);
        line-height: 1;

        i {
            color: var(--negative);
        }
    }

    .info-text {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: rem(12px);
        color: var(--text-guide);
        line-height: 1;
        margin-top: rem(4px);
    }

    .valid-text {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: rem(12px);
        color: var(--negative);
        line-height: 1;
        margin-top: rem(4px);
    }
}

.select-box {
    position: relative;
    width: 100%;
    min-width: rem(150px);
    max-width: rem(150px);
    border-radius: rem(3px);
    transition: all .25s;

    input {
        font-size: rem(14px);
        font-weight: 700;
        color: var(--text-default);
        width: 100%;
        height: $height;
        padding-right: rem(34px);
        padding-left: rem(10px);
        border-radius: rem(3px);
        border: 1px solid var(--main);
        outline: none;
        cursor: pointer;
        transition: all .25s ease;

        &::placeholder {
            font-weight: 400;
            color: var(--text-guide);
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            transition: background-color 9999s ease-in-out 0s;
            -webkit-box-shadow: 0 0 0px 1000px var(--bg-default) inset !important;
            -webkit-text-fill-color: var(--text-default);
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }                

    .icon {
        display: flex;
        align-items: center;
        @include position(absolute, $top: 0, $right: 0, $bottom: 0);
        padding-left: rem(10px);
        padding-right: rem(10px);
        color: var(--main);
        outline: none;
        cursor: pointer;
        transition: all .25s ease;

        &:after {
            @extend %fa-icon;
            @extend .fa-solid;
            content: unquote("\"#{ $fa-var-caret-down }\"");
            font-size: rem(20px);
            transition: transform .25s;
        }
    }

    &.open {
        .icon::after {
            content: unquote("\"#{ $fa-var-caret-up }\"");
            transform: rotate(360deg);
        }

        .select-items {
            height: auto;
            animation-name: fadeInUp;
            pointer-events: auto;
            overflow: visible;

            &.top {
                animation-name: fadeInDown;
            }
        }
    }
}

.select-items {
    @include position(absolute, $top: calc(100% + 4px), $right: 0, $left: 0);
    height: 0;
    overflow: hidden;
    opacity: 0;
    z-index: map-get($z-index, select);
    pointer-events: none;
    animation-duration: .4s;
    animation-fill-mode: both;

    &.open {
        height: auto;
        animation-name: fadeInUp;
        pointer-events: auto;
        overflow: visible;

        &.top {
            animation-name: fadeInDown;
        }
    }

    &.top {
        top: auto;
        bottom: 100%;
    }

    &.fixed {
        position: fixed;
    }

    >ul {
        max-height: calc($height * 5);
        background-color:  var(--bg-default);
        border: 1px solid var(--main);
        border-radius: rem(3px);
        @include overflow(auto, y);
        box-shadow: rem(1.3px) rem(1.5px) rem(4px) 0 rgba(0, 0, 0, 0.3);
        transition: all .25s;


        li>a {
            display: flex;
            align-items: center;
            width: 100%;
            min-height: $height;
            padding: 0 rem(10px);
            font-size: rem(14px);
            font-weight: 500;
            color: var(--text-default);
            text-align: left;
            word-break: break-all;
            outline: none;
            cursor: pointer;
            transition: all .25s;

            &:hover {
                background-color: var(--main-disabled);
            }

            &:active {
                background-color: var(--main);
            }

            span {
                margin-left: rem(6px);
                font-size: rem(12px);
                font-weight: 400;
                color: var(--text-sub);
            }
        }
    }
}

// .tb-container .select-box input {
//     height: rem(32px);
// }
