@charset "UTF-8";

.tab-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    button { 
        min-width: rem(128px);
        height: rem(36px);
        padding: 0 rem(24px);
        font-size: rem(14px);
        font-weight: 700;
        color: var(--main-color1);
        border: 1px solid var(--main-color1);
        background-color: transparent;
        transition: all .25s ease;

        &:not(:first-child) {
            border-left-width: 0;
        }

        &:first-child {
            border-radius: rem(8px) 0 0 rem(8px);
        }

        &:last-child {
            border-radius: 0 rem(8px) rem(8px) 0;
        }

        &:hover {
            color: var(--text-color2);
            border-color: rgba(var(--RGB-main-color1), .8);
            background: rgba(var(--RGB-main-color1), .8);
        }

        &:active,
        &.active {
            color: var(--text-color2);
            background: var(--main-color1);
        }
    }
}
