@charset "UTF-8";

.tab-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    &.inline {
        display: inline-flex;
        width: auto;
    }

    button { 
        height: rem(34px);
        padding: 0 rem(30px);
        font-size: rem(14px);
        font-weight: 700;
        color: var(--main);
        border: 1px solid var(--main);
        background-color: transparent;
        transition: all .25s ease;

        &:not(:first-child) {
            border-left-width: 0;
        }

        &:first-child {
            border-radius: rem(3px) 0 0 rem(3px);
        }

        &:last-child {
            border-radius: 0 rem(3px) rem(3px) 0;
        }

        &:active {
            color: rgba(var(--RGB-text-btn), .5);
            border-color: var(--main-line);
            background: var(--main-line);
        }

        &.active {
            color: var(--text-btn);
            background: var(--main);
        }
    }
}
