@charset "utf-8";

[class^="title-box"] {
    display: flex;
    width: 100%;

    
    .title {
        font-weight: 700;
        color: var(--text-default);
        line-height: 1;
    }

    &[class*="-main"] {
        align-items: center;
        min-height: rem(68px);
        padding: rem(20px) 0 rem(14px) rem(14px);

        .title {
            font-size: rem(20px);
        }
    }

    &[class*="-sub"] {
        align-items: flex-start;
        min-height: rem(34px);

        [class^="title"] {
            font-size: rem(16px);
            padding-top: rem(12px);

            &[class*="-sm"] {
                font-size: rem(14px);
                line-height: 1;
            }
        }
    }

    &.center {
        justify-content: center;
    }

    .sub-text {
        align-self: center;
        margin-left: rem(12px);
        font-size: rem(12px);
        font-weight: 700;
        color: var(--sub-color1);
    }
}
