@charset "utf-8";

#loginWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--bg-back);

    :deep(.login-form) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: rem(300px);
        margin-top: rem(240px);

        .input-box {
            input {
                height: rem(40px);
                font-size: rem(16px);
            }
        }
    }
    
    :deep(.copyright) {
        margin-top: auto;
        margin-bottom: rem(40px);
        font-size: rem(12px);
        color: var(--text-guide);
        line-height: 1;

        strong {
            font-weight: 700;
        }
    }
    
    :deep(.form-box) {
        width: rem(600px);
        padding: rem(18px) rem(20px);
        background-color: var(--bg-default);
    }
}
