@charset "utf-8";

:deep(.bg) {
    > [class^="row"] > [class^="col"],
    > [class^="cell"] {
        font-size: rem(12px);
        color: var(--text-dafault);
        padding: 10px;
        border: 1px solid var(--bg-table-head);
        background-color: var(--bg-back);
    }
}
