.top-container {
    display: flex;
    align-items: center;
    height: $layoutTop;
    padding: 0 rem(30px);
    border-bottom: 1px solid var(--bg-table-head);
    background-color: var(--bg-default);

    p.cate-nav {
        font-size: rem(13px);
        color: var(--text-color3);
        line-height: 1;

        i {
            @include mar(ml 8, mr 8);
            color: var(--text-color3);
        }
    }

    .user {
        position: relative;
        margin-left: auto;

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: rem(26px);
            height: rem(26px);
            border: rem(2px) solid var(--primary);
            background-color: transparent;
            border-radius: 50%;
            cursor: pointer;
            transition: all .25s;

            i {
                font-size: rem(13px);
                color: var(--primary);
                transition: color .25s;
            }

            &:hover {
                background-color: var(--primary);
                i {
                    color: var(--text-btn);
                }
            }

            &:active {
                border-color: var(--primary-pressed);
                background-color: var(--primary-pressed);
                i {
                    color: var(--text-btn);
                }
            }
        }

        &.open {
            .user-menu {
                height: auto;
                animation-name: fadeInUp;
                pointer-events: auto;
                overflow: visible;
            }
        }

        .user-menu {
            @include position(absolute, $top: calc(100% + rem(16px)), $right: rem(-6px));
            @include arrow-create(14px, 9px, "top", var(--primary), var(--bg-default), $right: rem(12px));
            width: rem(120px);
            height: 0;
            padding-top: rem(8px);
            opacity: 0;
            overflow: hidden;
            z-index: map-get($z-index, usermenu);
            pointer-events: none;
            animation-duration: .4s;
            animation-fill-mode: both;
            transition: all .25s;

            >ul {
                padding: rem(9px) 0;
                border-radius: rem(4px);
                @include border("", 1px solid var(--primary));
                background-color: var(--bg-default);
                box-shadow: rem(1.3px) rem(1.5px) rem(7px) 0 rgba(0, 0, 0, .3);

                li {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    min-height: rem(48px);
                    padding: 0 rem(20px);
                    font-size: rem(14px);
                    font-weight: 500;
                    color: var(--primary);
                    white-space: nowrap;
                    cursor: pointer;
                    outline: none;
                    transition: all .3s;

                    &:hover,
                    &:focus,
                    &.on {
                        color: var(--text-btn);
                        background-color: var(--primary);
                    }

                    &:active {
                        color: var(--text-btn);
                        background-color: var(--primary-pressed);
                    }
                }
            }
        }
    }
}
