@charset "UTF-8";

$logoSize: rem(80px);

#sideNav {
    position: relative;
    width: $layoutLeft;
    border-right: 1px solid var(--bg-table-head);
    background-color: var(--bg-default);
    z-index: 1;

    .side {
        position: fixed;
        top: 0;
        left: 0;
        width: $layoutLeft;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $logoSize;
    }

    #nav {
        height: calc(100% - $logoSize);
        @include overflow(auto, y);

        >ul>li {
            >a {
                display: flex;
                align-items: center;
                height: rem(48px);
                @include pad(pl 20, pr 14);
                font-size: rem(14px);
                font-weight: 500;
                color: var(--primary);
                white-space: nowrap;
                cursor: pointer;
                transition: color .25s, background-color .25s;

                >i {
                    width: rem(14px);
                    margin-right: rem(8px);
                    font-size: rem(14px);
                    text-align: center;
                }

                &:hover,
                &.on,
                &.open {
                    font-weight: 700;
                    color: var(--text-btn);
                    background-color: var(--primary);
                }

                &:active {
                    font-weight: 700;
                    color: var(--text-btn);
                    background-color: var(--primary-pressed);
                }
            }

            &.depth1 {
                >a:after {
                    @extend %fa-icon;
                    @extend .fa-solid;
                    content: unquote("\"#{ $fa-var-chevron-down }\"");
                    display: inline-block;
                    font-size: rem(8px);
                    color: var(--primary);
                    margin-left: auto;
                    transition: transform .25s;
                }

                >a.on,
                >a.open {
                    &::after {
                        content: unquote("\"#{ $fa-var-chevron-up }\"");
                        color: var(--text-btn);
                        transform: rotate(360deg);
                    }
                }

                >.sub-nav {
                    overflow: hidden;

                    li>a {
                        display: flex;
                        align-items: center;
                        height: 0;
                        font-size: 0;
                        opacity: 0;
                        padding-left: rem(42px);
                        color: var(--primary);
                        overflow: hidden;
                        transition: color .25s, font-size .5s .25s, height .25s, opacity .25s;

                        &:hover,
                        &.on {
                            color: var(--text-btn);
                            background-color: var(--primary);
                        }

                        &:active {
                            color: var(--text-btn);
                            background-color: var(--primary-pressed);
                        }
                    }

                    &.show {
                        padding-bottom: rem(10px);

                        li>a {
                            font-size: rem(13px);
                            opacity: 1;
                            height: rem(36px);
                            transition: color .25s, font-size .25s, height .25s, opacity .5s .25s;
                        }
                    }
                }
            }
        }
    }
}
